<h1>Days</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for day in @days %>
  <tr>
    <td><%= day.name %></td>
    <td><a href="/days/<%= day.id %>">Show day</a></td>
  </tr>
  <% end %>
</table>
