<h1>Days</h1>
<% for day in @days %>
  <div>
  <p>Day: <%= day.name() %></p>
  <% for deal in @deals %>
  <!-- <p>Deal: <%<%= deal.name %>if deal.day_id = day_id%></p> -->

 
  </div>
  <hr/>
<% end %>