<h1> Edinburgh Burger Deals </h1>
<h2 align="center"> Welcome to Edinburgh Burger Deals where we gather information on all the tastiest burger offers Edinburgh has to offer!</h3>
<h4 align="center">For Example: The City Cafe's Ultimate Burger</h4>
<img src="images/burger1.jpg"  style="margin-left:180px;width:400px;height:330px;">