<!DOCTYPE html>
<html>
<head>
  <title>Burger Deals Edinburgh</title>
  <link rel="icon" href="/images/burger.png" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/leftnavbar.css">

</head>
<body>
<div class="top">
<nav>
  <ul>
    <li>
      <a href="/restaurants">Restaurants</a>
      <a href="/restaurants/new">Add a restaurant</a>
      <a href="/deals">Deals</a>
      <a href="/deals/new">Add a deal</a>
    </li>
  </ul>
</nav>
</div>
<div class="sidebar">
<table>
  <% for day in @days %>
  <tr>
    <td><a href="/days/<%= day.id %>"><%= day.name %></a></td>
  </tr>
  <% end %>
</table>
</div>
<div class="main">
<main class="flex flex--row">
  
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</div>
</html>