@font-face {
    font-family: ChalkBoard;
    src: url(a_song_for_jennifer_bold.tff);
}

body {
font-family: ChalkBoard;
color: #f4f4f0;
background: url('/images/background3.png');
background-size: cover;
}

h1 {
color: #ed7777;
}

a {
color: #6fe7db;
}

nav li a {
color: #ed7777;  
}
