<h1>Add New Restaurant</h1>

<form action="/restaurants" method="post">
  <p>
    <label>
      Name:
      <input type="text" name="name"/>
    </label>
  </p>

  <p>
    <label>
      Website:
      <input type="text" name="website"/>
    </label>
  </p>

  <p>
    <label>
      Menu Link:
      <input type="text" name="menu"/>
    </label>
  </p>

  <input type="submit" value="Add restaurant" />
</form>